In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('t28_z.csv')
print(df.head())

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [3]:
print(df)

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [4]:
df["sales"]=[12,22,34,23,45,56,75,35,25,53,10,29,27,33,62,26]

In [5]:
print(df)

       Name      HEX               RGB  sales
0     White  #FFFFFF  rgb(100,100,100)     12
1    Silver  #C0C0C0     rgb(75,75,75)     22
2      Gray  #808080     rgb(50,50,50)     34
3     Black  #000000        rgb(0,0,0)     23
4       Red  #FF0000      rgb(100,0,0)     45
5    Maroon  #800000       rgb(50,0,0)     56
6    Yellow  #FFFF00    rgb(100,100,0)     75
7     Olive  #808000      rgb(50,50,0)     35
8      Lime  #00FF00      rgb(0,100,0)     25
9     Green  #008000       rgb(0,50,0)     53
10     Aqua  #00FFFF    rgb(0,100,100)     10
11     Teal  #008080      rgb(0,50,50)     29
12     Blue  #0000FF      rgb(0,0,100)     27
13     Navy  #000080       rgb(0,0,50)     33
14  Fuchsia  #FF00FF    rgb(100,0,100)     62
15   Purple  #800080      rgb(50,0,50)     26

In [6]:
print(df.isnull())

     Name    HEX    RGB  sales
0   False  False  False  False
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
15  False  False  False  False

In [8]:
print(df.isnull().sum())

Name     0
HEX      0
RGB      0
sales    0
dtype: int64

In [9]:
df.to_csv("t28_z.csv")

In [16]:
missdf = pd.read_csv("t28_z.csv",index_col=0)

In [17]:
print(missdf)

       Name      HEX               RGB  sales
0     White  #FFFFFF  rgb(100,100,100)   12.0
1    Silver  #C0C0C0     rgb(75,75,75)   22.0
2      Gray  #808080     rgb(50,50,50)   34.0
3     Black  #000000        rgb(0,0,0)    NaN
4       Red  #FF0000      rgb(100,0,0)   45.0
5    Maroon  #800000       rgb(50,0,0)   56.0
6       NaN  #FFFF00    rgb(100,100,0)   75.0
7     Olive  #808000      rgb(50,50,0)   35.0
8      Lime      NaN      rgb(0,100,0)   25.0
9     Green  #008000       rgb(0,50,0)   53.0
10     Aqua  #00FFFF    rgb(0,100,100)   10.0
11     Teal  #008080      rgb(0,50,50)   29.0
12     Blue  #0000FF               NaN   27.0
13      NaN  #000080       rgb(0,0,50)   33.0
14  Fuchsia  #FF00FF    rgb(100,0,100)   62.0
15   Purple      NaN      rgb(50,0,50)   26.0

In [18]:
print(missdf.isnull())

     Name    HEX    RGB  sales
0   False  False  False  False
1   False  False  False  False
2   False  False  False  False
3   False  False  False   True
4   False  False  False  False
5   False  False  False  False
6    True  False  False  False
7   False  False  False  False
8   False   True  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False   True  False
13   True  False  False  False
14  False  False  False  False
15  False   True  False  False

In [19]:
print(missdf.isnull().sum())

Name     2
HEX      2
RGB      1
sales    1
dtype: int64

In [21]:
# filling all NaN with zero
#missdf.fillna(0)
# it is not  A good chice

In [23]:
# filling the null with mean will be better
missdf.fillna(missdf["sales"].mean()) # not a good try

         Name        HEX               RGB      sales
0       White    #FFFFFF  rgb(100,100,100)  12.000000
1      Silver    #C0C0C0     rgb(75,75,75)  22.000000
2        Gray    #808080     rgb(50,50,50)  34.000000
3       Black    #000000        rgb(0,0,0)  36.266667
4         Red    #FF0000      rgb(100,0,0)  45.000000
5      Maroon    #800000       rgb(50,0,0)  56.000000
6   36.266667    #FFFF00    rgb(100,100,0)  75.000000
7       Olive    #808000      rgb(50,50,0)  35.000000
8        Lime  36.266667      rgb(0,100,0)  25.000000
9       Green    #008000       rgb(0,50,0)  53.000000
10       Aqua    #00FFFF    rgb(0,100,100)  10.000000
11       Teal    #008080      rgb(0,50,50)  29.000000
12       Blue    #0000FF         36.266667  27.000000
13  36.266667    #000080       rgb(0,0,50)  33.000000
14    Fuchsia    #FF00FF    rgb(100,0,100)  62.000000
15     Purple  36.266667      rgb(50,0,50)  26.000000

In [25]:
missdf["sales_fill"]= missdf["sales"].fillna(missdf["sales"].mean())

In [38]:
print(missdf.head(5))

     Name Colour Code               RGB  sales  sales_fill  int_sale  Prise
0   White     #FFFFFF  rgb(100,100,100)   12.0   12.000000        12     60
1  Silver     #C0C0C0     rgb(75,75,75)   22.0   22.000000        22    110
2    Gray     #808080     rgb(50,50,50)   34.0   34.000000        34    170
3   Black     #000000        rgb(0,0,0)    NaN   36.266667        36    180
4     Red     #FF0000      rgb(100,0,0)   45.0   45.000000        45    225

In [28]:
print(missdf.dtypes)

Name           object
HEX            object
RGB            object
sales         float64
sales_fill    float64
dtype: object

In [29]:
missdf = missdf.rename(columns={"HEX":"Colour Code"})

In [37]:
print(missdf.head(5))

     Name Colour Code               RGB  sales  sales_fill  int_sale  Prise
0   White     #FFFFFF  rgb(100,100,100)   12.0   12.000000        12     60
1  Silver     #C0C0C0     rgb(75,75,75)   22.0   22.000000        22    110
2    Gray     #808080     rgb(50,50,50)   34.0   34.000000        34    170
3   Black     #000000        rgb(0,0,0)    NaN   36.266667        36    180
4     Red     #FF0000      rgb(100,0,0)   45.0   45.000000        45    225

In [31]:
missdf["int_sale"]= missdf["sales_fill"].astype(int)

In [36]:
print(missdf.head(5))

     Name Colour Code               RGB  sales  sales_fill  int_sale  Prise
0   White     #FFFFFF  rgb(100,100,100)   12.0   12.000000        12     60
1  Silver     #C0C0C0     rgb(75,75,75)   22.0   22.000000        22    110
2    Gray     #808080     rgb(50,50,50)   34.0   34.000000        34    170
3   Black     #000000        rgb(0,0,0)    NaN   36.266667        36    180
4     Red     #FF0000      rgb(100,0,0)   45.0   45.000000        45    225

In [33]:
missdf["Prise"]= missdf["int_sale"].apply(lambda x:x*5)

In [35]:
print(missdf.head(5))

     Name Colour Code               RGB  sales  sales_fill  int_sale  Prise
0   White     #FFFFFF  rgb(100,100,100)   12.0   12.000000        12     60
1  Silver     #C0C0C0     rgb(75,75,75)   22.0   22.000000        22    110
2    Gray     #808080     rgb(50,50,50)   34.0   34.000000        34    170
3   Black     #000000        rgb(0,0,0)    NaN   36.266667        36    180
4     Red     #FF0000      rgb(100,0,0)   45.0   45.000000        45    225

In [39]:
missdf.to_csv("t29_z.csv")