## SQL and SQLite
### Structed Query Language is a standard language for managing and manipulating relational database

In [15]:
import sqlite3

In [16]:
connection1 = sqlite3.connect('t34_Example.db')
cursor1 = connection1.cursor()

In [17]:
cursor1.execute('''
create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not null,            
    age Integer,
    department Text
    )
''')

connection1.commit()

In [18]:
cursor1.execute('''
Select * from employees
''')

In [19]:
cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Sourav",21,"data_scientist")
''')

cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Aniket",22,"Mechanical_Engineer")
''')
connection1.commit()

In [20]:
cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Soumojit",21,"Electrical_Engineer")
''')

cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Harshbardhan",22,"Civil_Engineer")
''')
connection1.commit()

In [21]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()

# printing the gathered data
for row in rows:
    print(row)

(1, 'Sourav', 20, 'data_scientist')
(2, 'Aniket', 22, 'Mechanical_Engineer')
(3, 'Soumojit', 21, 'Electrical_Engineer')
(4, 'Harshbardhan', 22, 'Civil_Engineer')
(5, 'Sourav', 21, 'data_scientist')
(6, 'Aniket', 22, 'Mechanical_Engineer')
(7, 'Soumojit', 21, 'Electrical_Engineer')
(8, 'Harshbardhan', 22, 'Civil_Engineer')

In [22]:
# Upadating data in the dataset/table
cursor1.execute('''
UPDATE employees 
Set age = 20 
Where name="Sourav"
''')

connection1.commit()

In [23]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()

# printing the gathered data
for row in rows:
    print(row)

(1, 'Sourav', 20, 'data_scientist')
(2, 'Aniket', 22, 'Mechanical_Engineer')
(3, 'Soumojit', 21, 'Electrical_Engineer')
(4, 'Harshbardhan', 22, 'Civil_Engineer')
(5, 'Sourav', 20, 'data_scientist')
(6, 'Aniket', 22, 'Mechanical_Engineer')
(7, 'Soumojit', 21, 'Electrical_Engineer')
(8, 'Harshbardhan', 22, 'Civil_Engineer')

In [26]:
# deleting the data 
cursor1.execute('''
Delete from employees 
            where name ="Harshbardhan"
''')
connection1.commit()

In [27]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()

# printing the gathered data
for row in rows:
    print(row)

(1, 'Sourav', 20, 'data_scientist')
(2, 'Aniket', 22, 'Mechanical_Engineer')
(3, 'Soumojit', 21, 'Electrical_Engineer')
(5, 'Sourav', 20, 'data_scientist')
(6, 'Aniket', 22, 'Mechanical_Engineer')
(7, 'Soumojit', 21, 'Electrical_Engineer')

In [33]:
# deleting the data 
cursor1.execute('''
Delete from employees 
            where name ="Sourav"
''')
connection1.commit()

In [35]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()

# printing the gathered data
for row in rows:
    print(row)

(2, 'Aniket', 22, 'Mechanical_Engineer')
(3, 'Soumojit', 21, 'Electrical_Engineer')
(6, 'Aniket', 22, 'Mechanical_Engineer')
(7, 'Soumojit', 21, 'Electrical_Engineer')

In [42]:
# deleting the data 
cursor1.execute('''
Delete from employees 
            where name ="Soumojit"
''')
connection1.commit()
# deleting the data 
cursor1.execute('''
Delete from employees 
            where name ="Aniket"
''')
connection1.commit()

In [43]:
cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Sourav",21,"data_scientist")
''')

cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Aniket",22,"Mechanical_Engineer")
''')
cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Soumojit",21,"Electrical_Engineer")
''')

cursor1.execute('''
Insert Into employees(name,age,department)
                VALUES("Harshbardhan",22,"Civil_Engineer")
''')
connection1.commit()

In [45]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()

# printing the gathered data
for row in rows:
    print(row)

(8, 'Sourav', 21, 'data_scientist')
(11, 'Harshbardhan', 22, 'Civil_Engineer')
(12, 'Sourav', 21, 'data_scientist')
(13, 'Aniket', 22, 'Mechanical_Engineer')
(14, 'Soumojit', 21, 'Electrical_Engineer')
(15, 'Harshbardhan', 22, 'Civil_Engineer')