In [1]:
print(range(5))

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(6,10):
    print(i)

6
7
8
9

In [4]:
#range can have 3 arguments
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [5]:
#decrement is also possible in range
for i in range(16,1,-2):
    print(i)

16
14
12
10
8
6
4
2

In [6]:
string = "Sourav Sharma"
for i in string:
    print(i)

S
o
u
r
a
v

S
h
a
r
m
a

In [7]:
#while loop is a infinite loop and a break statement is required to stop the loop
i=0
while(i<7):
    print(i)
    i +=1

0
1
2
3
4
5
6

In [8]:
#loop control statements
for i in range(10):
    if(i==5):
        break
    print(i)

0
1
2
3
4

In [9]:
#continue
for i in range(10):
    if(i%2==0):
        print("Skipped")
        continue
    print(i)

Skipped
1
Skipped
3
Skipped
5
Skipped
7
Skipped
9

In [11]:
for i in range(3):
    for j in range(5):
        print(i," values ",j)

0  values  0
0  values  1
0  values  2
0  values  3
0  values  4
1  values  0
1  values  1
1  values  2
1  values  3
1  values  4
2  values  0
2  values  1
2  values  2
2  values  3
2  values  4

In [14]:
# sum of first n natural number 
n = int(input("Enter the number "))
sum =0
i=0
while(i<=n):
    sum += i
    i +=1
print(sum)

55

In [15]:
#Finding Prime Number in 1 to 100
for n in range(101):
    if(n>1):
        for i in range(2,n):
            if(n%i==0):
                break
        else:
            print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97