### one hot encoding

In [2]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [3]:
df = pd.DataFrame({
    'color': ['Red','Blue','Green','Red','Blue']
})

In [4]:
encoder = OneHotEncoder()

In [13]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [14]:
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [15]:
encoded_df

   color_Blue  color_Green  color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [16]:
pd.concat([df,encoded_df],axis=1)

   color  color_Blue  color_Green  color_Red
0    Red         0.0          0.0        1.0
1   Blue         1.0          0.0        0.0
2  Green         0.0          1.0        0.0
3    Red         0.0          0.0        1.0
4   Blue         1.0          0.0        0.0