In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(
    {
        'city':['london','mumbai','delhi','banglore','kolkata','bhagalpur','banglore'],
        'price':[3000,1000,200,3500,2500,1500,2000]
    }
)

In [15]:
df

        city  price
0     london   3000
1     mumbai   1000
2      delhi    200
3   banglore   3500
4    kolkata   2500
5  bhagalpur   1500
6   banglore   2000

In [16]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [17]:
mean_price

{'banglore': 2750.0,
 'bhagalpur': 1500.0,
 'delhi': 200.0,
 'kolkata': 2500.0,
 'london': 3000.0,
 'mumbai': 1000.0}

In [18]:
df['city_code']=df['city'].map(mean_price)

In [19]:
df[['city_code','price']]

   city_code  price
0     3000.0   3000
1     1000.0   1000
2      200.0    200
3     2750.0   3500
4     2500.0   2500
5     1500.0   1500
6     2750.0   2000